/* =============== mobile =============== */
/* --footer 영역 시작 -- */
.header{
    display: none;
}
/* 메인배경 시작 */
body{
    background: url('../img/11.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
/* 메인배경 끝 */

#sucurity div{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 2rem;
    color: black;
    border: 1px solid black;
    background: white;
    margin: 0 auto;
    margin-left: 2px;
    
}
#sucurity{
    display: flex;
    margin: 0 auto;
     margin-top: 50px;
}
/* 콘텐츠 시작 */

/*-로고 -*/
.header a{
    font-size: 4rem;
}
.header li a{
    font-size: 1rem;
}
.header{
    margin-top: 20%;
    text-align: center;
    
    
}
h2{
    color: red;
    position: absolute;
    top: 0;
}
.header div:first-child{
    text-align: center;
    width: 100%;

}
li{
    color: white;
    top: 0;
}
#mainlogo{
    font-family: 'Dancing Script', cursive;

}
#now_time{

    font-size: 0.8rem;
    height: 20px;
    color: white;
    margin-top: 20px;
}
#contents{
    border: 1px solid black;
    width: 80%;
}
.header ul{
    color: white;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    margin-top: 100px;;

}
#password{
    margin-top: 200px;
}
#password span{
    color: white;
}
#password input{
    width: 100px;
}
#lucky_button{
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    color: gold;
    font-size: 1rem;
    border: 1px solid;
    margin-top: 50px;
}

/* 콘텐츠 끝 */

/* =============== tablet =============== */

@media ( min-width: 670px) {
    
    
    
    
}
/* =============== desktop =============== */

@media ( min-width: 1024px) {
    
}
 
 
    
}
@media ( min-height:500px)
{
    .header{
  
    margin-top: 50px;
}
    
}
